@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: 'Poppins','Inter', sans-serif, Arial;
}

html, body {
    height: 100%;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.main-body {
    flex: 1; 
}

header h1 {
    text-align: center;
    font-weight: 400;
    background-color:hsl(190, 53%, 39%);
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: hsl(0, 0%, 100%);
}

footer {
  background-color: hsl(190, 53%, 39%);
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  font-size: 0.9rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.main-body {
   margin-top: 50px;
   margin-left: 15%;
   margin-right: 15%;
   justify-content: start;
}

.main-body h1 {
    color: hsl(190, 53%, 39%);
    display: block;
}

.navbar {
    background-color:  hsl(0, 0%, 96%);
    display: flex;
    justify-content: center; 
}

.navbar ul {
    list-style-type: none;
    display: flex; /* Make list items align in a row */
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-inline: 10px;
}

.navbar a {
    font-weight: 400;
    color: hsl(0, 0%, 18%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: hsl(190, 53%, 39%);
    transition: color 0.2s;
    font-weight: 500;
}

.navbar li{
    float: left;
    margin-inline: 10px;
}

.aimPoints li { 
    list-style-type: none;
margin-top: 10px;
}

.highlight_title{
    font-weight: 600;
}

hr {
  border: none;
  height: 1px;
  background-color: hsla(190, 53%, 39%, 0.514);
  margin: 40px 0;
}

.infoText {
  font-size: 14px;
  font-style: italic;
  background-color: hsl(0, 0%, 96%);
  color: #666;
  padding: 20px 40px;
  margin: 0 15% 40px 15%;
  border-left: 5px solid hsl(190, 53%, 39%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}